nav {background-color: steelblue;
    padding: 10px;
  }

/* nav {
    background-color: steelblue;
    padding: 10px;
  } */

nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* nav a {
    color: white;
    display: block;
    padding: 20px;
  } */

h1 {
    color: stealblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;   
}

/* h1 {
  color: steelblue;
}
This CSS rule references the <h1> (heading 1) element as the selected 
element and applies the following declaration:

The foreground, font color is set to steelblue.
img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
} */


/* <link rel="stylesheet" href="styles/styles.css"> */
